@import './base.css';

:root {
  --blue: #1e90ff;
  --default-background-hue: 244;
  --default-background-sat: 15%;
  --default-background-ligh: 20%;
  --default-background: hsl(var(--default-background-hue), var(--default-background-sat), var(--default-background-ligh));
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--default-background);
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsl(160, 100%, 37%);
}

* {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}