@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  background-color: #2c2b3a;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsl(160, 100%, 37%);
}

* {
  color: white;
}